.my {
  background-color: blanchedalmond;
}
.mynav {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.childnav {
  padding: 10px;
  border: 1px solid red;
  text-align: center;
  align-self: center;
  margin: 5px;
}
.leftnav {
  display: flex;
  flex-direction: row;
  border: 1px dashed black;
  justify-content: flex-start;
  width: 80%;
}
.rightnav {
  display: flex;
  flex-direction: row;
  border: 1px dashed blue;
  justify-content: center;
  width: 20%;
}
.card-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2px 5px 2px 5px;
}
.card {
  border: 1px dashed blue;
}
